<ul id="lists">
  <% sort_lists(@lists) do |list| %>
    <li class="<%= list_class(list) %>">
      <a href="/lists/<%= list[:id] %>">
        <h2><%= list[:name] %></h2>
        <p>
          <%= list[:todos_not_done] %> / <%= list[:todos_total] %>
        </p>
      </a>
    </li>
  <% end %>
</ul>

<p><u>Recently Deleted Todos:</u> <i><%= @recently_deleted_todos %></i></p>

<% content_for :header_links do %>
  <a class="add" href="/lists/new">New List</a>
<% end %>
